doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        include prettyPhoto.css 
        link(rel="shortcut icon", href="favicon.png")
        title="Cozy Contacts, The CRM for Individuals"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='jquery.prettyPhoto.js')
        script(type='text/javascript').
          $(document).ready(function() {
            $("a[rel^='prettyPhoto']").prettyPhoto({
              social_tools: ""
            });
            $('.left-bar').hide();
            $('.left-bar').slideDown(900);
          });
    body
        .step.first-step
            h1.main-title
                | Would you give your bank credentials to Mark Zückerberg?
        .step
            p.
                This is what asked me Benjamin André when he introduced me to
                the Cozy project. For me the answer was obvious, there was no
                way I share my bank account data with the Facebook marketers.
                I know that most of you don't care about privacy and efficient
                usage of personal data but that's not my case. His story about
                how to preserve personal data convince me that something should
                be done. The part on the money management specially kept my
                attention for two reasons. I'm a freelancer, so I need an
                accurate money manager and second I always feel uncomfortable
                to give my data to Mint-like services. And thinking that some
                day these services will probably be acquired by
                Facebook/Google/Amazon/Whatever freaked me out. And no need to
                tell you how awckward are the tools provided by the banks. My
                conclusion was simple, a good and trustable tool manage my
                money is missing.
        .step
            img(src="images/story_01.jpg")
        .step
            p.
                When Cozy hired me the first time, it was to prototype a
                webmail for their platform. I enjoyed working with them so when
                they contact me to build a new money manager app for one of
                their client (la FING which leads experimentation about personal
                data restitution), I immediately accepted and start to work on
                it. The tough part came from the fact that banks don't provide 
                any APIs to access to my data. Fortunately, I discovered an
                awesome FOSS project called Weboob, that allows to scrap data
                from a bank website. Bank Connectors are maintained by their
                community are easy to build. I convinced the Cozy team to
                integrate the lib in the core stack. They accepted, then I
            started to work on the application 

        .step
            img(src="images/story_02.jpg")
        .step
            p.
                Today I'm proud to publish the first Open Source Personal
                Finance Manager. Since, I know I can build app that can cross
                its data with my contacts, my calendar, my todos data and
                that its bank connectors (Cozy) are community-driven (Weboob),
                I'm pretty sure it will become the next generation of Personal
                Finance Manager. Thank you for your attention.

            p.center
                button try the demo
                button star the repo
                button install Cozy and Mes Comptes
                                
        .step
            img(src="images/story_03.jpg")
        .step
            p.
                My Name is Mikolaj Pawlikowski, I do web developement (PHP or
                Node.js), I use trello to communicate with my clients and I love
                to build new things. If you like my application and want to
                work with me, feel free to contact me ! 
