doctype 5

html(lang="en")
    head
        include knacss.css
        include style.css 
        include prettyPhoto.css 
        link(rel="shortcut icon", href="favicon.png")
        title="Would you give your bank password to Google?"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='jquery.prettyPhoto.js')
        script(type='text/javascript').
          $(document).ready(function() {
            windowHeight = $(window).height();
            $(".first-step").height(windowHeight);

            $("h1").click(function() {
                $("html").animate({scrollTop: windowHeight}, 'slow');
            });
            $(window).scroll(function() {
              if($(window).scrollTop() > windowHeight - 00) {
                $(".menu").addClass('show');
              };
            });
          });
    body
        .menu
            .left.pa1
                a(href="#top")
                    img(src="images/bank-icon.png")
                    span Open Bank Manager
            .right.pa1
                a(href="#why") Why
                a(href="#how") How
                a(href="#what") What
        .step.first-step#top
            h1.main-title
                | Would you give your bank password to Google?
        .step#why
            h2  No.
            p.
                This was what Ben - the Cozy Cloud CEO - asked me when I met him
                the first time. At the time, he was introducing me to the Cozy
                project, a self-hosted personal cloud. So, would I give my bank
                credentials to a company of which business model is to sell its
                user's data? I have a lot of respect for Google and I'm an
                addict of their tools, but my answer is no.
            p.
                I don't know about you, but I have always felt uncomfortable to
                give my data to Mint-like services. Especially thinking that
                some day these services will
                probably be acquired by Google/Facebook/Amazon/Whatever totally
                freaks me out.
        .second-step-next
            p.image-text.
                I'm a freelancer and I spend too much money in my servers. I
                needed a tool to fetch my operations from my bank accounts and
                to provide me services on top of this data. A trustworthy
                finance manager was definitely missing.

        .step.third-step#how
            h2.
                A trustworthy finance manager was definitely missing.
            p.
                When Cozy hired me the first time, it was to prototype a
                webmail for their platform. I enjoyed working with them so when they contacted
                me to build a trustworthy money manager app for one of their client, I
                immediately started to work on it. The tough part came from the fact that banks
                don't provide any APIs to access to my data. Fortunately, I discovered an
                awesome FOSS project called Weboob (WeB Outside Of Browser) that allows you to
                scrap data from the web and most importantly from bank websites. What makes it
                wonderful is that bank connectors are easy to build and are maintained by their
                community.
            p
                &nbsp;
        .third-step-next
            p.image-text.
                I convinced the Cozy team to integrate weboob in the core
                stack. That's what they did it and I was able to make big progress 
                from there

        .step#what
            h2.
                The first open source Personal Finance
                Manager 
            p.
                After long nights of working, I finally reached my goal!  Today,
                I'm proud to offer you the first Cloud Open Source Personal Finance
                Manager. It's a free and trustworthy application that allows you to
                manage efficiently your money without worrying about marketing
                spies.
            p.
                Moreover if you are a developer like me, you can easily build
                new services on top of this data or add a connector for any
                bank in the world.
            p.
                If you want to be a pioneer of this new way of finance management,
                I invite you to

            p.center
                a.button(href="https://demo.cozycloud.cc/#apps/pfm/") Try the demo
                a.button(href="https://github.com/seeker89/cozy-pfm") Star the repo and post feedback
                a.button(href="http://cozy.io") Install Cozy and the Personal Finance Manager
        .fourth-step-next
            .image-text
                p The main features are:
                ul
                    li Operation details
                    li Account aggregations
                    li Operation filters (date, amount, text)
                    li Daily/Weekly/Monthly mail reports
                    li Alerts

        .step.last-step#about
            p
                img(src="images/smiley2.png")
            p 
                | My Name is Mikolaj Pawlikowski, I code with PHP or Node.js, I
                | use 
                a(href="http://trello.com") Trello
                | &nbsp;to manage my projects and I ship my
                | code via 
                a(href="http://github.com/seeker89/") Github
                | &nbsp;. If you are interested in my work and are interested
                | in hiring me for freelance jobs, feel free to
                a(href="mailto:mikolaj@pawlikowski.pl") &nbsp;contact me! 
