rounded-border()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments

cover-background(height, image)
    height: height 
    background: url(image) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

dark-grey = #444
light-blue = #F3F9FD
light-green = #F3FDF9
light-grey = #DDD
blue = #31B3F2
bluetitle = #0086cc
greentitle = #00cc86
orange = #FE8800
green = #22cc55
marroon = #852
yellow = #ffc555


@font-face
    font-family: bigtitle
    src: url('fonts/lobster.woff')
    
@font-face
    font-family: title
    src: url('fonts/maven-pro-light-200.otf')

@font-face
    font-family: titlelight
    src: url('fonts/maven-pro-light-100.otf')

@font-face
    font-family: main
    src: url('fonts/signika-light.ttf')

html,
body
    height 100%
    width 100%
    padding 0
    margin 0

body
    text-rendering optimizeLegibility
    font-family: main
    background-color: light-blue
    color: dark-grey

h1
    margin: 0
    font-family: bigtitle
    font-weight: normal
    font-size: 90px
    line-height: 90px
    text-shadow: 1px 1px 5px #823

h2
    font-family: titlelight
    font-size: 28px

h3
h4
    font-family: main
    font-weight: normal
    color: dark-grey

h3
    padding-left: 0px
    padding-right: 10px
    font-size: 20px
    margin-bottom: 10px
    margin-top: 10px
    color: dark-grey

body,
input
    color dark-grey
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", sans-serif
    line-height 1.2

a,
a:visited
    color blue
    text-decoration none

    &:hover
        text-decoration underline
        color: yellow

a.button
    border: 0
    border-radius: 3px
    background-color: blue
    color: white
    padding: 10px
    margin-right: 5px
    font-family: main
    font-size: 22px
    margin-bottom: 10px
    color: white
    width: 500px
    display: inline-block

a.button:first-child
    background-color: green

a.button:hover
    background-color: yellow - 30%
    outline: none
    text-decoration: none
    color: white

a.button:active
    background-color: yellow - 30%
    box-shadow: 2px 2px 2px orange - 70% inset

a
.button
    cursor: pointer

.menu
    height: 60px
    position: fixed
    transition: all 2s ease
    background: bluetitle
    width: 100%
    z-index: 39
    opacity: 0

    a
    span
        color: white
        font-family: title
        font-size: 26px
        padding-left: 10px
        opacity: 1

    a
        font-weight: bold

    .right
        top: 10px

        a
            padding: 10px
            margin-top: 10px

    a:hover
        color: yellow - 30%
        text-decoration: none

.menu.show
    opacity: 0.8


.step
    h2
        font-size: 50px
        color: bluetitle 

    text-align: center
    padding: 200px 10% 200px 10%
    margin: 0
    font-family: main
    font-size: 30px


.image-text
    float: right
    padding: 20px
    width: 40%
    margin: 20px
    color: #EEF
    background: blue
    font-size: 40px
    font-family: main

.image-text:first-child
    margin-top: 20px
    opacity: 0.9

.first-step
    background: bluetitle
    color: #ffc555
    padding: 0 10%

    h1
        padding-top: 20%

.first-step-next
    height: 200px
    background: green
    color: yellow
    background: url("images/bg1.png") no-repeat bottom center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.second-step-next
    cover-background(800px, "images/story_01.jpg")

.third-step-next
    cover-background(800px, "images/story_02.jpg")

.fourth-step-next
    cover-background(800px, "images/story_03.jpg")


.last-step
    text-align: left
    background: bluetitle
    color: white
    padding: 100px 5%
    padding-bottom: 300px
    font-weight: bold

    a
        color: white
        text-decoration: underline

        &:hover
            color: yellow

