@font-face {
  font-family: bigtitle;
  src: url("fonts/chunkfive.otf");
}
@font-face {
  font-family: title;
  src: url("fonts/maven-pro-light-200.otf");
}
@font-face {
  font-family: titlelight;
  src: url("fonts/maven-pro-light-100.otf");
}
@font-face {
  font-family: main;
  src: url("fonts/signika-light.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  text-rendering: optimizeLegibility;
  font-family: main;
  background-color: #f3f9fd;
  color: #444;
}
h1 {
  margin: 0;
  font-family: bigtitle;
  font-weight: normal;
  font-size: 90px;
  line-height: 90px;
  text-shadow: 1px 1px 5px #823;
  cursor: pointer;
}
h2 {
  font-family: titlelight;
  font-size: 28px;
  line-height: 60px;
}
h3,
h4 {
  font-family: main;
  font-weight: normal;
  color: #444;
}
h3 {
  padding-left: 0px;
  padding-right: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #444;
}
body,
input {
  color: #444;
  font: 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", sans-serif;
  line-height: 1.2;
}
a,
a:visited {
  color: #31b3f2;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
  color: #ffc555;
}
a.button {
  border: 0;
  border-radius: 3px;
  background-color: #31b3f2;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  font-family: main;
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
  width: 500px;
  display: inline-block;
}
a.button:first-child {
  background-color: #2c5;
}
a.button:hover {
  background-color: #ee9d00;
  outline: none;
  text-decoration: none;
  color: #fff;
}
a.button:active {
  background-color: #ee9d00;
  box-shadow: 2px 2px 2px #4c2900 inset;
}
a,
.button {
  cursor: pointer;
}
.menu {
  height: 60px;
  position: fixed;
  transition: all 1.5s ease;
  background: #0086cc;
  width: 100%;
  z-index: 39;
  opacity: 0;
}
.menu a,
.menu span {
  color: #fff;
  font-family: title;
  font-size: 26px;
  padding-left: 10px;
  opacity: 1;
}
.menu a {
  font-weight: bold;
}
.menu .right {
  top: 10px;
}
.menu .right a {
  padding: 10px;
  margin-top: 10px;
}
.menu a:hover {
  color: #ee9d00;
  text-decoration: none;
}
.menu.show {
  opacity: 0.8;
}
.step {
  text-align: left;
  padding: 150px 20% 150px 20%;
  margin: 0;
  font-family: main;
  font-size: 24px;
}
.step h2 {
  font-size: 50px;
  color: #0086cc;
}
.image-text {
  float: right;
  padding: 20px;
  width: 40%;
  margin: 20px;
  color: #eef;
  background: #31b3f2;
  font-size: 30px;
  font-family: main;
}
.image-text:first-child {
  margin-top: 20px;
  opacity: 0.9;
}
.first-step {
  background: #0086cc;
  color: #ffc555;
  padding: 0 10%;
  text-align: center;
}
.first-step h1 {
  padding-top: 20%;
}
.first-step-next {
  height: 200px;
  background: #2c5;
  color: #ffc555;
  background: url("images/bg1.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.second-step-next {
  height: 650px;
  background: url("images/story_01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.third-step-next {
  height: 650px;
  background: url("images/story_02.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fourth-step-next {
  height: 650px;
  background: url("images/story_03.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-step {
  text-align: left;
  background: #0086cc;
  color: #fff;
  padding: 100px 5%;
  padding-bottom: 300px;
  font-weight: bold;
}
.last-step a {
  color: #fff;
  text-decoration: underline;
}
.last-step a:hover {
  color: #ffc555;
}
@media (max-width: 700px) {
  .menu {
    height: 40px;
  }
  .menu img {
    display: none;
    width: 1px;
  }
  .menu a,
  .menu span {
    font-size: 16px;
  }
  .image-text {
    font-size: 20px;
  }
  .step {
    font-size: 20px;
    padding: 50px 10%;
  }
  .step h2 {
    font-size: 34px;
    line-height: 50px;
  }
  a.button {
    width: 100%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  .image-text {
    width: 70%;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
  .left {
    display: none;
  }
}
